<aside>
        <ul>
            <li id="direccion">
                <h4>&#8962;  DIRECCIÓN</h4>
                <p>Av. Real y Audiencia Quito-Ecuador</p>
            </li>
            <li id="email">
                <h4>&#x2706; TELÉFONO</h4>
                <p>2317206</p>
            </li>
            <li id="telefono">
                <h4>&#x2709; EMAIL</h4>
                <p>mimaquillaje2000@outlook.com</p>
            </li>
        </ul>
    </aside>