<section class="Des">
    <img src="https://images-na.ssl-images-amazon.com/images/I/71cMNi5hhOL._AC_SX425_.jpg" alt="">
    <article>
        <header>
            <h2>A cerca de Nosotros</h2>
            <h1>Fashion Make Up</h1>
        </header>
        <p>Se prevé que el mercado mundial de Cosméticos (Maquillaje de mujer) aumente a un ritmo considerable durante el período de pronóstico, entre 2021 y 2025. En 2021, el mercado creció a un ritmo constante y con la creciente adopción de estrategias por parte de los actores clave, se espera que el mercado aumente sobre el horizonte proyectado.</p>
        <button>MÁS INFORMACIÓN</button>
    </article>
</section>