<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="acces/css/styles.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Courgette&family=Inconsolata&family=Josefin+Sans&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>Venta Maquillaje</title>
   
</head>
<body>
    <header class="Enc">
        <ul>
            <li>
                <h4>Mi Maquillaje</h4>
            </li>
            <li>
                <h2>El maquillaje es simplemente una extensión de la personalidad</h2>
            </li>
        </ul>     
        <Button>Explorar</Button> 
    </header>
   